<div class="home_info">
  <div class="row" *ngIf="error_message != ''">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ error_message }}
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 text-center">
    </div>
  </div>
  <div class="row">
  </div>
</div>
